In [1]:
import os as os
os.getcwd()

'C:\\Users\\Admin\\Documents'

In [2]:
os.chdir('C:\\Users\\Admin\\Downloads\\mortDefault')

In [3]:
os.getcwd()

'C:\\Users\\Admin\\Downloads\\mortDefault'

In [4]:
import pandas as pd

In [8]:
mortdefault2000 = pd.read_csv('mortDefault2000.csv')

In [10]:
filelist=os.listdir()

In [12]:
filelist

['mortDefault2000.csv',
 'mortDefault2001.csv',
 'mortDefault2002.csv',
 'mortDefault2003.csv',
 'mortDefault2004.csv',
 'mortDefault2005.csv',
 'mortDefault2006.csv',
 'mortDefault2007.csv',
 'mortDefault2008.csv',
 'mortDefault2009.csv']

In [18]:
mortdefault = [pd.read_csv(i) for i in filelist]

In [14]:
mortdefault

[        creditScore  houseAge  yearsEmploy  ccDebt  year  default
 0               615        10            5    2818  2000        0
 1               780        34            5    3575  2000        0
 2               735        12            1    3184  2000        0
 3               713        15            5    6236  2000        0
 4               689        10            5    6817  2000        0
 5               713        13            3    3646  2000        0
 6               749        30            7    8056  2000        0
 7               738        21            6    5611  2000        0
 8               745        13            5    4780  2000        0
 9               762        15            9    6161  2000        0
 10              707         5            3    4992  2000        0
 11              621        15            6    7427  2000        0
 12              649        14            3    3573  2000        0
 13              660        24            4       0  2000        0
 14              696        11            6    2986  2000        0
 15              786        15            3    3107  2000        0
 16              717        18            6    4513  2000        0
 17              704        19            6    4098  2000        0
 18              595        12            2    5845  2000        0
 19              674        29            3    6309  2000        0
 20              664        26            3    6495  2000        0
 21              734        19            4    2201  2000        0
 22              701        16            5    2815  2000        0
 23              713        11            2    4177  2000        0
 24              645        25            2    5111  2000        0
 25              728        18            5    5863  2000        0
 26              717        25            6    6222  2000        0
 27              745         2            7    5843  2000        0
 28              695        15            4    2889  2000        0
 29              657        21            3    3527  2000        0
 ...             ...       ...          ...     ...   ...      ...
 999970          692        11            7    6199  2000        0
 999971          741         8            3    6312  2000        0
 999972          679        22            5    4758  2000        0
 999973          674         7            5    5078  2000        0
 999974          679        21            3    5715  2000        0
 999975          687        17            7    1229  2000        0
 999976          697         7            4    7135  2000        0
 999977          617        12            5    6336  2000        0
 999978          692        18            9    5196  2000        0
 999979          715        15            2    2444  2000        0
 999980          760        23            5    4004  2000        0
 999981          674        12            8    5002  2000        0
 999982          687        14            4    4688  2000        0
 999983          715        30            1    6906  2000        0
 999984          721        27            5    6048  2000        0
 999985          736        19            5    5315  2000        0
 999986          800        35            8    4767  2000        0
 999987          627        22            2    5602  2000        0
 999988          720        28            3    3163  2000        0
 999989          724        13            6    4668  2000        0
 999990          718        19            5    4034  2000        0
 999991          807        18            2    5916  2000        0
 999992          751        18            1    6258  2000        0
 999993          697        24            6    3123  2000        0
 999994          832        19            4    2308  2000        0
 999995          681        11            5    1591  2000        0
 999996          755        19            9    5831  2000        0
 999997          673        35            4    5601  2000        0
 999998          640        22            3    5925  2000        0
 999999          705        10            5    6996  2000        0

 [1000000 rows x 6 columns],
         creditScore  houseAge  yearsEmploy  ccDebt  year  default
 0               739        23            5    5448  2001        0
 1               778        23            5    8254  2001        0
 2               653        22            4    5879  2001        0
 3               701        22            7    4181  2001        0
 4               580        11            7    6370  2001        0
 5               600        16            4    2338  2001        0
 6               703        20            7    2734  2001        0
 7               723        35            6       0  2001        0
 8               692        22            7    5926  2001        0
 9               676        19            6    3565  2001        0
 10              699        26            6    7607  2001        0
 11              712        26            6    5503  2001        0
 12              746        19            8    3633  2001        0
 13              675        16            2    5197  2001        0
 14              735        24            0    2775  2001        0
 15              746        25            8    5519  2001        0
 16              725         8            6    6078  2001        0
 17              734        21            5    6084  2001        0
 18              603        30            3    6636  2001        0
 19              765        24            6     946  2001        0
 20              757        10            9    8156  2001        0
 21              783        11            7    4474  2001        0
 22              694        23            5    3861  2001        0
 23              790         8            6     785  2001        0
 24              661        18            2    3438  2001        0
 25              657        16            4    1980  2001        0
 26              592        32            4    3310  2001        0
 27              682        25            5    5466  2001        0
 28              813        23            4    6932  2001        0
 29              703        13            1    6925  2001        0
 ...             ...       ...          ...     ...   ...      ...
 999970          693        28            4    5026  2001        0
 999971          632        15            9    6961  2001        0
 999972          610        34            3    6307  2001        0
 999973          609        13            7    3081  2001        0
 999974          819        21            7    3464  2001        0
 999975          687        18            5    5292  2001        0
 999976          712        13            5    4875  2001        0
 999977          761        11            2    6586  2001        0
 999978          680        26            3    6856  2001        0
 999979          733        31            5    2741  2001        0
 999980          729        20            4    5304  2001        0
 999981          764        31            2    6499  2001        0
 999982          584        21            3    4459  2001        0
 999983          677        27            3    5227  2001        0
 999984          674         7            8    5585  2001        0
 999985          634        20            5    2806  2001        0
 999986          676         9            2    5288  2001        0
 999987          682        21            5    5767  2001        0
 999988          666        17            3    5459  2001        0
 999989          767        16            2    5767  2001        0
 999990          753        26            3    3853  2001        0
 999991          762        37            5    3317  2001        0
 999992          712        34            5    5860  2001        0
 999993          696        30            5    1863  2001        0
 999994          635         1            4    5162  2001        0
 999995          745         3            4    3402  2001        0
 999996          749        26            6    3935  2001        0
 999997          706        20            3    6031  2001        0
 999998          729        17            3    4609  2001        0
 999999          747        25            7    7802  2001        0

 [1000000 rows x 6 columns],
         creditScore  houseAge  yearsEmploy  ccDebt  year  default
 0               899        28            5    2489  2002        0
 1               609        20            2    4525  2002        0
 2               682        25            0     760  2002        0
 3               757         9            4    5066  2002        0
 4               753        13            5    3851  2002        0
 5               657        14            6    4403  2002        0
 6               706        15            0    4300  2002        0
 7               764        22            0    6503  2002        0
 8               706        23            3    9011  2002        0
 9               743        18            4    6898  2002        0
 10              665        19            3    3552  2002        0
 11              641        16            6    6244  2002        0
 12              674        28            1    4826  2002        0
 13              723        22            4    7629  2002        0
 14              680         6            8    5677  2002        0
 15              587         3            6    6687  2002        0
 16              795        26            1    1683  2002        0
 17              655         5            3    4213  2002        0
 18              679        14            5    5344  2002        0
 19              734        13            7    5310  2002        0
 20              679        16            5    2661  2002        0
 21              714        13            6    7763  2002        0
 22              750        22            4    3107  2002        0
 23              684        20            5    3399  2002        0
 24              575        31            4    8054  2002        0
 25              727        15            5    6474  2002        0
 26              709        27            3    5765  2002        0
 27              649        18            5    8365  2002        0
 28              724        22            7    3912  2002        0
 29              678        36            8    5616  2002        0
 ...             ...       ...          ...     ...   ...      ...
 999970          742         6            6    6019  2002        0
 999971          759        26            5    7041  2002        0
 999972          740        20            4    4453  2002        0
 999973          687        16            5    4754  2002        0
 999974          693        24            7    4765  2002        0
 999975          655        12            5    4089  2002        0
 999976          778        29            5    3831  2002        0
 999977          701        14            5    4361  2002        0
 999978          735        25            2    3600  2002        0
 999979          735        15            5    5713  2002        0
 999980          649        17            5    3621  2002        0
 999981          688        33            8    4605  2002        0
 999982          612        24            8    3223  2002        0
 999983          816        13            3    6130  2002        0
 999984          664        26            9    5256  2002        0
 999985          748        18            0    7218  2002        0
 999986          687        13            4    4382  2002        0
 999987          644        26            1    7128  2002        0
 999988          743        25            4    5134  2002        0
 999989          780        24            5    6708  2002        0
 999990          638        17            5    4979  2002        0
 999991          776         3            1    4788  2002        0
 999992          689        28            5    3565  2002        0
 999993          635        25            6    3590  2002        0
 999994          797         8            5    1331  2002        0
 999995          646        15            4    3634  2002        0
 999996          760        17            6    5284  2002        0
 999997          644        16            1    4065  2002        0
 999998          713        36            6    2060  2002        0
 999999          673        20            8    7565  2002        0

 [1000000 rows x 6 columns],
         creditScore  houseAge  yearsEmploy  ccDebt  year  default
 0               773        19            6    4694  2003        0
 1               662        20            3    4533  2003        0
 2               758         6            7    4117  2003        0
 3               679        34            6    3628  2003        0
 4               718        16            5    3053  2003        0
 5               743        31            1    3420  2003        0
 6               691        17            5    7248  2003        0
 7               702        26            6    2101  2003        0
 8               749        13            5    5035  2003        0
 9               759        14            0    6822  2003        0
 10              632        11            6    2714  2003        0
 11              826        26            2    5024  2003        0
 12              719        21            6    2951  2003        0
 13              681        15            4    4455  2003        0
 14              672        26            0    3936  2003        0
 15              687        25            2    5113  2003        0
 16              690        11            6    4258  2003        0
 17              787        18            6    6030  2003        0
 18              720        26           10    4591  2003        0
 19              746         5            3    5769  2003        0
 20              646        18            4    4323  2003        0
 21              659        30            4    1068  2003        0
 22              694         9            6     794  2003        0
 23              725         5            3    3715  2003        0
 24              610        35            5    5760  2003        0
 25              654        14            8    7441  2003        0
 26              631        17            6    2591  2003        0
 27              731        36            3    6984  2003        0
 28              725        30            9    4148  2003        0
 29              679        22            3     748  2003        0
 ...             ...       ...          ...     ...   ...      ...
 999970          723        26            5    7597  2003        0
 999971          631        11            5    5449  2003        0
 999972          646        14            6    6370  2003        0
 999973          683         5            9    5585  2003        0
 999974          718        23            2    6379  2003        0
 999975          664         9            7    2361  2003        0
 999976          732        15            4    4738  2003        0
 999977          642        11            5    1473  2003        0
 999978          635        24            6    7078  2003        0
 999979          689        19            4    4450  2003        0
 999980          628         6            5    5174  2003        0
 999981          729        36            3    2465  2003        0
 999982          685        17            5    1702  2003        0
 999983          715        26            2    7044  2003        0
 999984          683        13            2    2585  2003        0
 999985          699         4            1    2678  2003        0
 999986          712        25            7    7057  2003        0
 999987          711        19            4    6484  2003        0
 999988          703        31            5    6272  2003        0
 999989          655        19            4    5646  2003        0
 999990          781        25            8    4142  2003        0
 999991          672        29            5     796  2003        0
 999992          735        28            2    5023  2003        0
 999993          740        30            2    5530  2003        0
 999994          635        15            3    5154  2003        0
 999995          706        24            7    3667  2003        0
 999996          608        25            7    5370  2003        0
 999997          696        25            6    3253  2003        0
 999998          704        35            7    2712  2003        0
 999999          740        17            3    4607  2003        0

 [1000000 rows x 6 columns],
         creditScore  houseAge  yearsEmploy  ccDebt  year  default
 0               689        12            7    6502  2004        0
 1               787        19            7    7272  2004        0
 2               708         7            6    5777  2004        0
 3               718        32            8    5832  2004        0
 4               732        33            5    5731  2004        0
 5               718        25            6    3212  2004        0
 6               743        17            0    5107  2004        0
 7               650        32            3    3224  2004        0
 8               736        34            5     133  2004        0
 9               701        11            5    4921  2004        0
 10              732        19            5    7599  2004        0
 11              745        28            3    4138  2004        0
 12              728        30            8    2361  2004        0
 13              671        23            5    5337  2004        0
 14              714        34            5    4022  2004        0
 15              771        23            4    4141  2004        0
 16              763        24            9    7337  2004        0
 17              778        14            7    7190  2004        0
 18              688         9            3     266  2004        0
 19              665        18            4    1448  2004        0
 20              778        16            4    6577  2004        0
 21              726        14            5    9035  2004        0
 22              654        37            3    3473  2004        0
 23              724        10            7    8966  2004        0
 24              719        25            4    4244  2004        0
 25              820        27            2    3246  2004        0
 26              661        37            6    8276  2004        0
 27              731        13            3    5142  2004        0
 28              649        35            6    6282  2004        0
 29              656        19            3    7784  2004        0
 ...             ...       ...          ...     ...   ...      ...
 999970          731        28            6    5720  2004        0
 999971          670        20            8     237  2004        0
 999972          751        13            4    2829  2004        0
 999973          702        25            7    8555  2004        0
 999974          720        20            3    3752  2004        0
 999975          654        27            7    5806  2004        0
 999976          673        25            1   10202  2004        0
 999977          670        27            7    3962  2004        0
 999978          699        19            8    6392  2004        0
 999979          620        20            5    6887  2004        0
 999980          680        14            7    5288  2004        0
 999981          653        13            3    6582  2004        0
 999982          714        22            6    5621  2004        0
 999983          834        23            3    2153  2004        0
 999984          726         1            5    5020  2004        0
 999985          673        19            4    5128  2004        0

In [15]:
mortdefault2000 = pd.read_csv('mortDefault2000.csv')

In [16]:
mortdefault2000

        creditScore  houseAge  yearsEmploy  ccDebt  year  default
0               615        10            5    2818  2000        0
1               780        34            5    3575  2000        0
2               735        12            1    3184  2000        0
3               713        15            5    6236  2000        0
4               689        10            5    6817  2000        0
5               713        13            3    3646  2000        0
6               749        30            7    8056  2000        0
7               738        21            6    5611  2000        0
8               745        13            5    4780  2000        0
9               762        15            9    6161  2000        0
10              707         5            3    4992  2000        0
11              621        15            6    7427  2000        0
12              649        14            3    3573  2000        0
13              660        24            4       0  2000        0
14              696        11            6    2986  2000        0
15              786        15            3    3107  2000        0
16              717        18            6    4513  2000        0
17              704        19            6    4098  2000        0
18              595        12            2    5845  2000        0
19              674        29            3    6309  2000        0
20              664        26            3    6495  2000        0
21              734        19            4    2201  2000        0
22              701        16            5    2815  2000        0
23              713        11            2    4177  2000        0
24              645        25            2    5111  2000        0
25              728        18            5    5863  2000        0
26              717        25            6    6222  2000        0
27              745         2            7    5843  2000        0
28              695        15            4    2889  2000        0
29              657        21            3    3527  2000        0
...             ...       ...          ...     ...   ...      ...
999970          692        11            7    6199  2000        0
999971          741         8            3    6312  2000        0
999972          679        22            5    4758  2000        0
999973          674         7            5    5078  2000        0
999974          679        21            3    5715  2000        0
999975          687        17            7    1229  2000        0
999976          697         7            4    7135  2000        0
999977          617        12            5    6336  2000        0
999978          692        18            9    5196  2000        0
999979          715        15            2    2444  2000        0
999980          760        23            5    4004  2000        0
999981          674        12            8    5002  2000        0
999982          687        14            4    4688  2000        0
999983          715        30            1    6906  2000        0
999984          721        27            5    6048  2000        0
999985          736        19            5    5315  2000        0
999986          800        35            8    4767  2000        0
999987          627        22            2    5602  2000        0
999988          720        28            3    3163  2000        0
999989          724        13            6    4668  2000        0
999990          718        19            5    4034  2000        0
999991          807        18            2    5916  2000        0
999992          751        18            1    6258  2000        0
999993          697        24            6    3123  2000        0
999994          832        19            4    2308  2000        0
999995          681        11            5    1591  2000        0
999996          755        19            9    5831  2000        0
999997          673        35            4    5601  2000        0
999998          640        22            3    5925  2000        0
999999          705        10            5    6996  2000        0

[1000000 rows x 6 columns]

In [21]:
mortdefault[1]

        creditScore  houseAge  yearsEmploy  ccDebt  year  default
0               739        23            5    5448  2001        0
1               778        23            5    8254  2001        0
2               653        22            4    5879  2001        0
3               701        22            7    4181  2001        0
4               580        11            7    6370  2001        0
5               600        16            4    2338  2001        0
6               703        20            7    2734  2001        0
7               723        35            6       0  2001        0
8               692        22            7    5926  2001        0
9               676        19            6    3565  2001        0
10              699        26            6    7607  2001        0
11              712        26            6    5503  2001        0
12              746        19            8    3633  2001        0
13              675        16            2    5197  2001        0
14              735        24            0    2775  2001        0
15              746        25            8    5519  2001        0
16              725         8            6    6078  2001        0
17              734        21            5    6084  2001        0
18              603        30            3    6636  2001        0
19              765        24            6     946  2001        0
20              757        10            9    8156  2001        0
21              783        11            7    4474  2001        0
22              694        23            5    3861  2001        0
23              790         8            6     785  2001        0
24              661        18            2    3438  2001        0
25              657        16            4    1980  2001        0
26              592        32            4    3310  2001        0
27              682        25            5    5466  2001        0
28              813        23            4    6932  2001        0
29              703        13            1    6925  2001        0
...             ...       ...          ...     ...   ...      ...
999970          693        28            4    5026  2001        0
999971          632        15            9    6961  2001        0
999972          610        34            3    6307  2001        0
999973          609        13            7    3081  2001        0
999974          819        21            7    3464  2001        0
999975          687        18            5    5292  2001        0
999976          712        13            5    4875  2001        0
999977          761        11            2    6586  2001        0
999978          680        26            3    6856  2001        0
999979          733        31            5    2741  2001        0
999980          729        20            4    5304  2001        0
999981          764        31            2    6499  2001        0
999982          584        21            3    4459  2001        0
999983          677        27            3    5227  2001        0
999984          674         7            8    5585  2001        0
999985          634        20            5    2806  2001        0
999986          676         9            2    5288  2001        0
999987          682        21            5    5767  2001        0
999988          666        17            3    5459  2001        0
999989          767        16            2    5767  2001        0
999990          753        26            3    3853  2001        0
999991          762        37            5    3317  2001        0
999992          712        34            5    5860  2001        0
999993          696        30            5    1863  2001        0
999994          635         1            4    5162  2001        0
999995          745         3            4    3402  2001        0
999996          749        26            6    3935  2001        0
999997          706        20            3    6031  2001        0
999998          729        17            3    4609  2001        0
999999          747        25            7    7802  2001        0

[1000000 rows x 6 columns]

In [24]:
mortdefault2=pd.DataFrame(mortdefault)

In [25]:
mortdefault2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
0    10 non-null object
dtypes: object(1)
memory usage: 160.0+ bytes

In [26]:
mortdefault2

                                                   0
0          creditScore  houseAge  yearsEmploy  cc...
1          creditScore  houseAge  yearsEmploy  cc...
2          creditScore  houseAge  yearsEmploy  cc...
3          creditScore  houseAge  yearsEmploy  cc...
4          creditScore  houseAge  yearsEmploy  cc...
5          creditScore  houseAge  yearsEmploy  cc...
6          creditScore  houseAge  yearsEmploy  cc...
7          creditScore  houseAge  yearsEmploy  cc...
8          creditScore  houseAge  yearsEmploy  cc...
9          creditScore  houseAge  yearsEmploy  cc...

In [30]:
mort=pd.concat([mortdefault[0],mortdefault[1],mortdefault[2],mortdefault[3],mortdefault[4],mortdefault[5],mortdefault[6],mortdefault[7],mortdefault[8],mortdefault[9]], ignore_index= True)

In [31]:
mort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 6 columns):
creditScore    int64
houseAge       int64
yearsEmploy    int64
ccDebt         int64
year           int64
default        int64
dtypes: int64(6)
memory usage: 457.8 MB

In [32]:
mortdefaul22=mortdefault[0].append(mortdefault[1])

In [33]:
mortdefaul22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000000 entries, 0 to 999999
Data columns (total 6 columns):
creditScore    int64
houseAge       int64
yearsEmploy    int64
ccDebt         int64
year           int64
default        int64
dtypes: int64(6)
memory usage: 106.8 MB

In [34]:
mort11=pd.concat(mortdefault,ignore_index=True)

In [35]:
mort11

         creditScore  houseAge  yearsEmploy  ccDebt  year  default
0                615        10            5    2818  2000        0
1                780        34            5    3575  2000        0
2                735        12            1    3184  2000        0
3                713        15            5    6236  2000        0
4                689        10            5    6817  2000        0
5                713        13            3    3646  2000        0
6                749        30            7    8056  2000        0
7                738        21            6    5611  2000        0
8                745        13            5    4780  2000        0
9                762        15            9    6161  2000        0
10               707         5            3    4992  2000        0
11               621        15            6    7427  2000        0
12               649        14            3    3573  2000        0
13               660        24            4       0  2000        0
14               696        11            6    2986  2000        0
15               786        15            3    3107  2000        0
16               717        18            6    4513  2000        0
17               704        19            6    4098  2000        0
18               595        12            2    5845  2000        0
19               674        29            3    6309  2000        0
20               664        26            3    6495  2000        0
21               734        19            4    2201  2000        0
22               701        16            5    2815  2000        0
23               713        11            2    4177  2000        0
24               645        25            2    5111  2000        0
25               728        18            5    5863  2000        0
26               717        25            6    6222  2000        0
27               745         2            7    5843  2000        0
28               695        15            4    2889  2000        0
29               657        21            3    3527  2000        0
...              ...       ...          ...     ...   ...      ...
9999970          627        18            5    1268  2009        0
9999971          704        17            4    3968  2009        0
9999972          665        19            6    8994  2009        0
9999973          752        17            5    8810  2009        0
9999974          709        21            5    6149  2009        0
9999975          700        18            7    6556  2009        0
9999976          733        22            3    2617  2009        0
9999977          688        24            5    4595  2009        0
9999978          662        36            2    3268  2009        0
9999979          770        19            4   10109  2009        0
9999980          686        30            1    2511  2009        0
9999981          774        19            2    4324  2009        0
9999982          717        19            5    5030  2009        0
9999983          653        24            3    3346  2009        0
9999984          695        17            5    4598  2009        0
9999985          672        21            5    4683  2009        0
9999986          699        27            8    9200  2009        0
9999987          697        17            6    7058  2009        0
9999988          690        16            5    8070  2009        0
9999989          734        22            4    8919  2009        1
9999990          713        19            6    5751  2009        0
9999991          785        18            6    8483  2009        0
9999992          649         7            8    6394  2009        0
9999993          752        21            6    8532  2009        0
9999994          647        28            4    3302  2009        0
9999995          595        29            4    3383  2009        0
9999996          625        17            5    6988  2009        0
9999997          638        10            9    6604  2009        0
9999998          819        13            3    1623  2009        0
9999999          661        24            4    5248  2009        0

[10000000 rows x 6 columns]